*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.Errors.log

# Test results
*.trx
*.coverage

# Visual Studio 2015
.vs/

# Add Build folder
!/Build/

# msbuild binary logs
*.binlog

# Code coverage analysis output files
/TestResults

# Java
.gradle/
.project

# Nugets
packages

# Node
node_modules

**/.idea
/TrashMobMobile/TrashMobMobile.Android/TrashMobMobile.Android.iml
**/*.secret.cs
