.welcomePageButton {
    position: absolute;
    width: 112px;
    height: 15.07px;
    background: #F4F4F4;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.welcomePageButtonText {
    position: absolute;
    width: 41.48px;
    height: 11.05px;
    font-family: Segoe UI;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #18510A;
}

.needHelpButton {
    position: absolute;
    width: 60px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
