<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.1" package="eco.trashmob" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<application android:label="TrashMobMobile.Android" android:theme="@style/MainTheme" android:icon="@drawable/TrashMobEco_CircleLogo">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="GOOGLE_API_KEY" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<!-- Necessary for apps that target Android 9.0 or higher -->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- Permission to receive remote notifications from Google Play Services -->
	<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
	<uses-permission android:name="TrashMobMobile.permission.MAPS_RECEIVE" />
	<permission android:name="TrashMobMobile.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
</manifest>