.App {
    text-align: center;
}

.App-logo {
    max-width: 240px;
    margin-top: 15px;
}

.menuClosed {
    margin-left: -250px;
}

.bb-primary {
    border-bottom: 1px solid #007bff;
}

.br-primary {
    border-right: 1px solid #007bff;
}
