@page "/map"

<style>

    #tmMap {
        width: 100%;
        height: 100%;
    }

    .mud-main-content {
        height: 100vh;
    }
</style>

<div id="tmMap">
    <maps:Map x:Name="map" />
</div>

@code {

}
