body {
  background-color: rgb(238, 238, 238);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
}

.pop>h1,
.pop>h2,
.pop>h3,
.pop>h4,
.pop>h5 {
  margin-top: 0;
}

p {
  margin-top: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tm-header {
  background-color: #fff;

  .tm-secondaryNav-link {
    color: white;

    &:hover {
      color: white;
    }
  }

  .bg-light {
    background-color: #fff !important;
  }

  .tm-secondaryNav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    font-size: 14px;

    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }
  }

  .tm-secondaryNav-item:not(:first-child) {
    margin-left: 1rem;
  }

  .navbar {
    padding: 1.2rem 1rem;

    // .btn:not(:first-of-type) {
    //   margin-left: 1rem;
    // }
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-evenly;

    &::after {
      border-right: 2px solid $primary;
      content: "";
      display: inline-block;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    color: #212529;
    white-space: nowrap;

    &:hover {
      color: $primary;
    }
  }
}

.carousel {
  margin: 0px 0 30px;
}

.carousel-item {
  height: 500px;
  background-size: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  display: inline-block;
  height: auto;
  left: 0px;
  width: 230px;
  margin: 1px 20px 0px -8px;
  position: relative;
  flex-wrap: unset;
  top: auto;
  position: relative;
  right: auto;
  border-radius: 5px;
  bottom: auto;
}

.btn-primary,
a.dropdown-toggle {
  color: #fff !important;
  background-color: $primary;
  border: none !important;
  outline: none !important;
  border-radius: 5px !important;
}

nav {
  display: block;
  flex-wrap: unset;
  height: auto;
  width: auto;
}

nav>div {
  display: inline-block;
  width: 100%;
}

nav div button.btn-primary {
  display: block;
  width: auto;
  margin: 8px 0px 0px;
  white-space: nowrap;
}

nav ul.navbar-nav {
  display: inline-block;
  width: 100%;
}

nav ul li {
  display: inline-block;
  padding: 16px 20px 8px 0px;
}

nav div.dropdown.navbar-nav {
  padding: 8px 20px 8px 0px;
}

nav ul li a {
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}

nav ul li .dropdown>a {
  margin: 0px;
  padding: 0px 8px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

nav ul li .dropdown>a:hover {
  color: rgba(255, 255, 255, 1);
}

// was created by William Voss as quick fix but not sufficient anymore so commented out

// footer {
//   margin: 2em 0px 0px;
//   background-color: #333;
//   color: white;
//   padding: 2em 1.5em 1.5em;
//   font-size: 80%;
//   clear: both;
//   text-align: center;
// }

// footer p {
//   text-align: center;
// }

// footer a {
//   color: white;
//   text-decoration: none;
// }


// footer img {
//   all: inherit;
//   max-width: 20px;
// }

// footer a:hover {
//   color: white;
//   text-decoration: underline;
// }

// footer iframe.twitter-follow-button {
//   margin-right: 3px !important;
// }

// footer a.instagram-button,
// footer p a {
//   display: inline-block;
//   padding: 4px 10px 4px 10px;
//   text-decoration: none;
// }

// footer a.instagram-button {
//   height: 20px;
//   vertical-align: top;
//   line-height: 100%;
//   font-weight: bold;
//   font-size: 0.9em;
// }

// footer iframe,
// footer span,
// footer div {
//   line-height: 100%;
//   margin: 0px;
//   padding: 0px;
//   height: 20px !important;
//   overflow: hidden;
// }

.carousel-inner,
.green-flood-image,
.basic-flood-image {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  margin-bottom: 0;
  background-size: 100%;
}

.green-flood-image,
.basic-flood-image {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

.green-flood-image::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: $primarySemiTransparent;
}

.card {
  clear: both;
  text-align: left;
  display: block;
  padding: 0;
  margin: 1em auto 0;
  width: 100%;
  max-width: 900px;
  min-width: 420px;
  border: none;
  background-color: transparent;
}

.card.pop {
  background-color: white;
  padding: 1.5em 1.25em 1em;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  margin-top: 2em;
}

.card.clear {
  background: none;
  box-shadow: none;
}

.card-overlay {
  text-align: center;
}

.tall {
  background-size: auto 100%;
}

.carousel-indicators {
  display: none;
}

.carousel-item {
  z-index: -1;
  display: block;
  width: 100%;
  height: 500px;
}

.carousel-caption {
  display: block;
  z-index: 2;
  background-color: $primarySemiTransparent;
  margin: auto;
  bottom: 2.5rem;
  max-width: 500px;
  padding: 1.75em 1.5em 1em;
}

.carousel-caption h5 {
  font-weight: normal;
  font-size: 1.7em;
}

img {
  max-width: 100%;
  margin: 2% 0px 0%;
}

.expandCollapse > div {
  color: #444;
  // cursor: pointer;
  padding: 0px;
  transition: 0.4s;
  display: block;
}

// .expandCollapse > div p {
//   display: none;
//   overflow: hidden;
// }

.expandCollapse>div:active p,
.expandCollapse>div:focus p,
.expandCollapse>.active p {
  display: block;
  overflow: auto;
  line-height: 1.5em;
}

button,
.dropdown>a.dropdown-toggle {
  background-color: $primary !important;
  border: none !important;
  outline: none !important;
}

.dropdown>a.dropdown-toggle {
  padding: 5px 10px 7px;
  margin-top: 2px;
  margin-left: 10px;
}

.dropdown>a:hover,
button:hover {
  background-color: #546900 !important;
}

.dropdown-menu {
  & .dropdown-item {
    & svg {
      margin-right: 15px;
    }
  }
}

.card.card-image-left {
  display: block;
  background-position: left top;
  background-repeat: repeat-y;
  margin-bottom: 0;
  background-size: 300px auto;
  padding-left: 320px;
}

.card.card-image-right {
  display: block;
  background-position: right top;
  background-repeat: repeat-y;
  margin-bottom: 0;
  background-size: 300px auto;
  padding-right: 320px;
}

.basic-image img {
  visibility: hidden;
}

.right {
  width: 40%;
  float: right;
  margin: -1.5em -1.25em 0 2%;
}

.left {
  width: 40%;
  float: left;
  margin: -1.5em 2% 0 -1.25em;
}

.vert {
  width: auto;
  max-height: 20em;
}

.eco-trustmark {
  max-width: 4rem;
  color: black;
  font-size: 20px;
  align-self: center;
  width: 17.5px;
  height: 20px;
}

input,
textarea {
  margin-bottom: 1.5em;
}

.faq-tabs-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.19rem;

  .faq-tab {
    width: 100%;
    max-width: 537px;

    &.tab-select {
      @include media-breakpoint-up(md) {
        max-width: 47%;
      }

      @include media-breakpoint-up(lg) {
        max-width: 447px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 346px;
      }

      h1 {
        font-weight: 500;
        font-size: 26.402px;
        line-height: 40px;
      }

      h5 {
        font-weight: 500;
        font-size: 13.682px;
        line-height: 21px;
      }
    }
  }
}

.font-size-h4 {
  font-size: 1.5rem;
  line-height: 1.25;
}