/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.chq-atc {
  position: relative;
}

.chq-atc--dropdown {
  display: flex;
  flex-direction: column;
  margin: .5rem 0 .5rem .5rem;
  position: absolute;
  background-color: #FFF;
  width: 100%;
}

.chq-atc--dropdown a {
  color: #6B6F74;
}

.chq-atc--button {
  background-color: unset !important;
  color: #96ba00 !important;
}

.chq-atc--button:active {
  color: #FFF;
}

.chq-atc--button:hover {
  background-color: unset !important;
  color: #FFF !important;
}

.chq-atc--button svg {
  fill: #96ba00;
}

.chq-atc--button:hover svg {
  fill: #FFF !important;
}

#pageFooter {
  background-color: #212529;
}

#logo_footer {
  width: 300px;
  height: 50px;
  margin-left: -15px;
  margin-bottom: 20px;
}

/* #footerWrapper {
  margin-top: 70px;
} */

#pageFooter a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25.5px;
  text-transform: uppercase;
  display: block !important;
  margin-bottom: 10px;
}

#pageFooter a:hover {
  color: #96ba00;
}

.horizontalLine {
  background-color: #fff;
  margin-bottom: 0 !important;
}

#copyright p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
}

.iconWrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
}

#firstWrapper {
  margin-right: 15px;
}

.fa-facebook-f,
.fa-twitter {
  color: black;
  font-size: 20px;
  align-self: center;
  margin-top: 3px;
}

#iconsOrigWrapper {
  justify-content: end;
  align-items: center;
  margin-right: 1px;
  height: 50px;
}

@media only screen and (max-width: 414px) {
  #iconsOrigWrapper {
    justify-content: unset;
    margin-left: 2px;
  }

  #pageFooter {
    height: auto !important;
  }
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.dropdown-divider {
  margin: 0.5rem 1.25rem !important;
  border-top: 1px solid #6b6f74 !important;
}

.color-primary {
  color: #96ba00;
}

.bg-black {
  background-color: #212529 !important;
}

.border-rounded-lg {
  border-radius: 1rem !important;
}

.graphic-large {
  width: 100px;
  height: 100px;
}

.font-size-lg {
  font-size: 1.5rem;
}

.font-size-xl {
  font-size: 1.875rem;
}

.max-width-container {
  max-width: 1140px;
}

.btn-outline {
  background-color: unset !important;
  color: #96ba00 !important;
  border: 1px solid #96ba00 !important;
  transition: all ease .5s;
  margin-right: 9px;
  background-color: unset !important;
}

.btn-outline:hover {
  background-color: #96ba00 !important;
  color: #fff !important;
  border: none;
  transition: all ease .5s;
}

.event-list-event-type {
  color: #FFBA00;
  border: 1px solid #FFBA00;
  width: fit-content;
}

input[type="radio"] {
  appearance: none;
  /* background, border etc to customize */
  width: 18px;
  height: 18px;
  border: 1px solid #6b6f74;
  border-radius: 99999px;
  background-clip: content-box;
  padding: 2px;
}

input[type="radio"]:checked {
  width: 18px;
  height: 18px;
  background-color: #96ba00;
  border: 1px solid #6b6f74;
  border-radius: 99999px;
  padding: 3px;
}

.font-grey {
  color: #6b6f74;
}

.btn-128 {
  width: 128px;
}

.banner-globe {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 25%;
  right: 0;
}

@media (max-width: 576px) {
  .banner-heading {
    font-size: 16px !important;
  }

  .banner-logo {
    width: 75%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .banner-globe {
    width: 35%;
  }

  .banner-heading {
    font-size: 18px !important;
  }

  .banner-logo {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-globe {
    width: 40%;
  }

  .banner-logo {
    width: 100%;
  }
}

.bg-grass {
  background-color: #96ba00;
}

.bg-ice {
  background-color: #EAEFF6;
}

.text-decoration-underline {
  text-decoration: underline;
  text-decoration-color: #96ba00;
}

/* remove default toggle arrow */
#share-toggle::after {
  content: none;
}

.share-link,
.share-link a,
.share-link svg {
  color: #6B6F74 !important;
}