/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.chq-atc--dropdown {
  display: flex;
  flex-direction: column;
  margin: .5rem 0 .5rem .5rem;
}

.chq-atc--button {
  background-color: unset !important;
  border: 1px solid #96ba00 !important;
}

.chq-atc--dropdown {
  color: #96ba00 !important;
}

#pageFooter {
  background-color: #212529;
}

#logo_footer {
  width: 300px;
  height: 50px;
  margin-left: -15px;
  margin-bottom: 20px;
}

/* #footerWrapper {
  margin-top: 70px;
} */

#pageFooter a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25.5px;
  text-transform: uppercase;
  display: block !important;
  margin-bottom: 10px;
}

#pageFooter a:hover {
  color: #96ba00;
}

.horizontalLine {
  background-color: #fff;
  margin-bottom: 0 !important;
}

#copyright p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
}

.iconWrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
}

#firstWrapper {
  margin-right: 15px;
}

.fa-facebook-f, .fa-twitter {
  color: black;
  font-size: 20px;
  align-self: center;
  margin-top: 3px;
}

#iconsOrigWrapper {
  justify-content: end;
  align-items: center;
  margin-right: 1px;
  height: 50px;
}

@media only screen and (max-width: 414px) {
  #iconsOrigWrapper {
    justify-content: unset;
    margin-left: 2px;
  }

  #pageFooter {
    height: auto !important;
  }
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.dropdown-divider {
  margin: 0.5rem 1.25rem !important;
  border-top: 1px solid #6b6f74 !important;
}

.color-primary {
  color: #96ba00;
}