/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.chq-atc {
  position: relative;
  margin-right: 9px;
}

.chq-atc--dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  text-align: center;
}

.chq-atc--dropdown a {
  color: #6B6F74;
}

.chq-atc--button {
  background-color: unset !important;
  color: #96ba00 !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #96ba00 !important;
  border-radius: 0.25rem;
}

.chq-atc--button:hover,
.chq-atc--button:active {
  background-color: #96ba00 !important;
  color: #FFF !important;
  transition: all ease .5s;
}

.chq-atc--button svg {
  fill: #96ba00;
}

.chq-atc--button:hover svg {
  fill: #FFF !important;
}

#pageFooter {
  background-color: #212529;
}

#logo_footer {
  width: 300px;
  height: 50px;
  margin-left: -15px;
  margin-bottom: 20px;
}

/* #footerWrapper {
  margin-top: 70px;
} */

#pageFooter a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25.5px;
  text-transform: uppercase;
  display: block !important;
  margin-bottom: 10px;
}

#pageFooter a:hover {
  color: #96ba00;
}

.horizontalLine {
  background-color: #fff;
  margin-bottom: 0 !important;
}

#copyright p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
}

.iconWrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-inline-end: 8px;
}

.modalIcon {
  width: 32px !important;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-linkedin {
  color: black;
  font-size: 20px;
  align-self: center;
  margin-top: 3px;
  width: 17.5px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.fa-youtube {
  margin-left: -4px;
}

#iconsOrigWrapper {
  justify-content: end;
  align-items: center;
  margin-right: 1px;
  height: 50px;
}

.socials-modal-icon {
  background-color: transparent !important;
}

.socials-modal-icon:hover:enabled {
  background-color: transparent !important;
}

#iconsModalWrapper {
  justify-content: start;
  align-items: center;
  margin-right: 1px;
  padding-left: 15px;
  height: 50px;
  background-color: transparent !important;
}

@media only screen and (max-width: 414px) {
  #iconsOrigWrapper {
    justify-content: unset;
    margin-left: 2px;
  }

  #pageFooter {
    height: auto !important;
  }
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.dropdown-divider {
  margin: 0.5rem 1.25rem !important;
  border-top: 1px solid #696B72 !important;
}

.color-primary {
  color: #96ba00;
}

.color-grey {
  color: #696B72;
}

.border-rounded-lg {
  border-radius: 1rem !important;
}

.graphic-large {
  width: 100px;
  height: 100px;
}

/* 14px */
.font-size-sm {
  font-size: 0.875rem;
}

/* 24px */
.font-size-lg {
  font-size: 1.5rem;
}

/* 30px */
.font-size-xl {
  font-size: 1.875rem;
}

.max-width-container {
  max-width: 1140px;
}

.btn-outline {
  background-color: unset !important;
  color: #96ba00 !important;
  border: 1px solid #96ba00 !important;
  transition: all ease .5s;
  margin-right: 9px;
  background-color: unset !important;
}

.btn-outline:hover:enabled {
  background-color: #96ba00 !important;
  color: #fff !important;
  border: none;
  transition: all ease .5s;
}

.event-list-event-type {
  color: #FFBA00 !important;
  border: 1px solid #FFBA00 !important;
  width: fit-content;
}

.event-list-event-type:hover {
  color: #FFF !important;
  background-color: #FFBA00 !important;
}

input[type="radio"] {
  appearance: none;
  /* background, border etc to customize */
  width: 18px;
  height: 18px;
  border: 1px solid #6b6f74;
  border-radius: 99999px;
  background-clip: content-box;
  padding: 2px;
}

input[type="radio"]:checked {
  width: 18px;
  height: 18px;
  background-color: #96ba00;
  border: 1px solid #6b6f74;
  border-radius: 99999px;
  padding: 3px;
}

.font-grey {
  color: #6b6f74;
}

.btn-128 {
  width: 128px;
}

.banner-globe {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 25%;
  right: 0;
}

@media (max-width: 576px) {
  .banner-heading {
    font-size: 16px !important;
  }

  .banner-logo {
    width: 75%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .banner-globe {
    width: 35%;
  }

  .banner-heading {
    font-size: 18px !important;
  }

  .banner-logo {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-globe {
    width: 40%;
  }

  .banner-logo {
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .banner-globe {
    width: 20%;
  }
}

.bg-black {
  background-color: #212529 !important;
}

.bg-grass {
  background-color: #96ba00;
}

.bg-ice {
  background-color: #EAEFF6;
}

.bg-white {
  background-color: #FFF;
}

.text-decoration-underline {
  text-decoration: underline;
  text-decoration-color: #96ba00;
}

/* remove default toggle arrow */
#share-toggle::after {
  content: none;
}

.share-link,
.share-link a,
.share-link svg {
  color: #6B6F74 !important;
}

.map-popup-container {
  overflow-x: auto;
  width: 500px;
  max-width: 500px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .map-popup-container {
    max-width: 250px;
  }
}

.color-white {
  color: #FFF;
}

.popup-close {
  width: 40px;
  height: 40px;
  background-color: #FFF !important;
  color: #000;
}

.card-icon {
  width: 95px;
  height: 95px;
}

.card-statistic {
  font-size: 55px;
}

.card-title {
  font-size: 25px;
  font-weight: 500;
}

.p-15 {
  font-size: 15px !important;
  line-height: 22px !important;
}

.p-18 {
  font-size: 18px !important;
  line-height: 27px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

input:disabled {
  background-color: #EAEFF6 !important;
}

.w-24 {
  width: 24px !important;
}

.h-49 {
  height: 49px !important;
}

.h-60 {
  height: 60px !important;
}

.main-header {
  font-size: 25px;
  line-height: 38px;
}

.hero-text {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  margin: 0;
  z-index: 2;
}

.sub-hero-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.title-header {
  position: relative;
  padding: 72px 0;

}

.globe-img {
  position: absolute;
  right: 15px;
  top: 0;
}

.object-fit-cover {
  object-fit: cover;
}

.directorCard {
  background-color: white;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 6.5rem;
}

.card-shadow {
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
}

.active-border {
  border: 1px solid #96BA00;
}

.active-line {
  border-bottom: 3px solid #96BA00;
}

.remove-drop-icon::after {
  display: none !important;
}