@page "/eventlist"

@using TrashMobMobileApp.Data
@using TrashMobMobileApp.Models
@inject IMobEventManager MobEventManager

<h1>TrashMob Events</h1>

<p>List of Upcoming TrashMob Events.</p>

@if (mobEvents == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Event Name</th>
				<th>Event Date</th>
				<th>Event City</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var mobEvent in mobEvents)
			{
				<tr>
					<td>@mobEvent.Name</td>
					<td>@mobEvent.EventDate.ToShortDateString()</td>
					<td>@mobEvent.City</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private MobEvent[] mobEvents;

	protected override async Task OnInitializedAsync()
	{
		mobEvents = (await MobEventManager.GetActiveEventsAsync()).ToArray();
	}
}
