<div class="container main-view">
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <h4>What is FlashTrashMob.org?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="cleanup" src="/images/nerd.jpg" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="pull-right">
                <p>Are you interested in cleaning up the environment? Perhaps you don't know where to start? Or maybe you know an area that needs cleaning up, but it's too big to tackle by yourself?</p>

                <p>Enter <a href="http://www.flashtrashmob.org">FlashTrashMob.com</a>, to find or schedule a FlashTrashMob. We're focused on one thing. Cleaning up the world.</p>

                <p>We're free and fun and we leave the world a better place after every event. <a href="/">Find a TrashMob near you</a>, or <a href="/cleanupEvents/add">host a Mob</a>.</p>
            </div>
        </div>
    </div>
</div>