.header {
    position: absolute;
    width: 1920px;
    height: 114px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 17.150959014892578px;
    width: 197.75704956054688px;
    left: 375px;
    top: 48px;
    border-radius: 0px;
    position: absolute;
    left: 19.53%;
    right: 70.17%;
    top: 0.92%;
    bottom: 98.76%;
}

.visiblemenu {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    top: 44px;
    line-height: 25px;
    height: 26px;
    /* identical to box height */
    color: #212529;
}

.gettingStarted {
    width: 131px;
    left: 714px;
    color: #96ba00;
}

.aboutUs {
    width: 131px;
    left: 714px;
}

.myDashboard {
    width: 125px;
    left: 886px;
}

.learnMore {
    width: 98px;
    left: 1052px;
}

.learnMore {
    width: 98px;
    left: 1052px;
}

.activeButton {
    position: absolute;
    width: 115px;
    height: 45px;
    left: 1430px;
    top: 32px;
    background: #96ba00;
    border-radius: 5px;
}
