# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: TrashMobDev - FunctionApp

on:
  push:
    branches:
      - main
    paths: 
      - '.github/**'
      - 'TrashMobJobs/**'
      - 'TrashMob.Models/**'
      - 'TrashMob.Shared/**'
      - 'TrashMob.Shared.Tests/**'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: fa-tm-dev-westus2
  AZURE_FUNCTIONAPP_PACKAGE_PATH: TrashMobJobs
  CONFIGURATION: Release
  DOTNET_VERSION: '10.0.x' # set this to the dotnet version to use
  DOTNET_CORE_VERSION_INPROC: 10.0.x
  WORKING_DIRECTORY: TrashMobJobs

jobs:
  build-and-deploy:
    runs-on: windows-latest
    environment: test
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.1.11
        with:        
          versionSpec: '5.x'

      - name: Determine Version
        id: version_step # step id used as reference for output values
        uses: gittools/actions/gitversion/execute@v3.1.11

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
      
      - name: Setup .NET Core (for inproc extensions)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_CORE_VERSION_INPROC }}

      - name: Restore
        run: dotnet restore "${{ env.WORKING_DIRECTORY }}"

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: pwsh
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'fa-tm-dev-westus2'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          