name: Publish iOS app

on:
    workflow_call:
        inputs:
            artifact_name:
                required: true
                type: string
            environment:
                required: true
                type: string
        secrets:
            APPSTORE_ISSUER_ID:
                required: true
            APPSTORE_API_KEY_ID:
                required: true
            APPSTORE_API_PRIVATE_KEY:
                required: true


jobs:
    deploy-ios:
        name: Deploy iOS to TestFlight
        runs-on: macos-15
        environment: ${{ inputs.environment }}
        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                    name: ${{ inputs.artifact_name }}

            - name: Get ipa filename
              run: echo "IPA_FILENAME=$(ls -R *.ipa)" > $GITHUB_ENV

            - name: Setup API key
              run: |
                mkdir -p ~/private_keys
                echo "$API_PRIVATE_KEY" > ~/private_keys/AuthKey_${API_KEY_ID}.p8
              env:
                API_KEY_ID: ${{ secrets.APPSTORE_API_KEY_ID }}
                API_PRIVATE_KEY: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}

            - name: Upload to TestFlight
              run: |
                xcrun altool --upload-app \
                  -f "$IPA_FILENAME" \
                  -t ios \
                  --apiKey "$API_KEY_ID" \
                  --apiIssuer "$API_ISSUER_ID"
              env:
                IPA_FILENAME: ${{ env.IPA_FILENAME }}
                API_KEY_ID: ${{ secrets.APPSTORE_API_KEY_ID }}
                API_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}

            - name: Cleanup
              if: always()
              run: rm -rf ~/private_keys
