name: Publish iOS app

on:
    workflow_call:
        inputs:
            artifact_name:
                required: true
                type: string
            environment:
                required: true
                type: string
        secrets:
            APPSTORE_ISSUER_ID:
                required: true
            APPSTORE_API_KEY_ID:
                required: true
            APPSTORE_API_PRIVATE_KEY:
                required: true


jobs:
    deploy-ios:
        name: Deploy iOS to TestFlight
        runs-on: macos-15
        environment: ${{ inputs.environment }}
        steps:
            - name: Checkout (for Fastlane config)
              uses: actions/checkout@v6

            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                    name: ${{ inputs.artifact_name }}

            - name: Get ipa filename
              run: echo "IPA_FILENAME=$(ls -R *.ipa)" > $GITHUB_ENV

            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                ruby-version: '3.3'
                bundler-cache: true

            - name: Upload to TestFlight via Fastlane Pilot
              env:
                APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APPSTORE_API_KEY_ID }}
                APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
                APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
              run: |
                bundle exec fastlane ios ios_upload ipa:"$IPA_FILENAME"
