# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: TrashMob Pull Request Build

on:
  pull_request:
    branches: [ "main", "release" ]
    paths: 
      - '.github/**'
      - 'TrashMob/**'
      - 'TrashMob.Models/**'
      - 'TrashMob.Shared/**'
      - 'TrashMob.Shared.Tests/**'
      - 'TrashMobJobs/**'
      - 'TrashMob.sln'
      - '!TrashMobMobileApp/**'

env:
  DOTNET_VERSION: '8.0.x'  # set this to the dotnet version to use
  DOTNET_VERSION2: '8.0.x'  # set this to the dotnet version to use
  CONFIGURATION: Release

jobs:
  buildWebapp:
    runs-on: windows-2022
    environment: test

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v1.1.1
      with:
        versionSpec: '5.x'

    - name: Determine Version
      id: version_step # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v1.1.1

    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup DotNet ${{ env.DOTNET_VERSION2 }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION2 }}

    - name: Restore
      run: dotnet restore .\TrashMob.sln

    - name: Publish Web App
      run: dotnet publish TrashMob\TrashMob.csproj --configuration ${{ env.CONFIGURATION }} --output "${{env.DOTNET_ROOT}}/trashmobwebapp" --no-restore

    - name: Test
      run: dotnet test .\TrashMob.sln

  buildFunctionApp:

    runs-on: windows-latest
    environment: test

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v1.1.1
      with:
        versionSpec: '5.x'

    - name: Determine Version
      id: version_step # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v1.1.1

    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup DotNet ${{ env.DOTNET_VERSION2 }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION2 }}

    - name: Restore
      run: dotnet restore .\TrashMob.sln

    - name: Publish Function App
      run: dotnet publish TrashMobJobs\TrashMobJobs.csproj --configuration ${{ env.CONFIGURATION }} --output "${{env.DOTNET_ROOT}}/trashmobjobsfunctionapp" --no-restore